* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar_link {
  text-decoration: none;
  color: #553D67;
}

.navbar_list {
  list-style-type: none;
}

.main {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
}

.hamburger {
  display: none;
}

.navbar {
  width: 75%;
  margin: 1rem;
  font-size: 1rem;
}
.navbar_list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar_link {
  font-weight: 300;
}

@media (max-width: 578px) {
  .hamburger {
    display: block;
  }
  .navbar {
    display: none;
  }
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .header_logo {
    transform: scale(1.5);
    margin: 1rem;
  }
  .navbar {
    width: 50%;
  }
}
.hero {
  width: 100%;
  background: url("../assets/Hero-Bg.svg") no-repeat center center;
  text-wrap: wrap;
  background-size: cover;
  overflow-x: hidden;
  min-height: 90dvh;
  padding: 2rem;
  font-family: "Mulish", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero_title {
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: 1px;
  text-align: center;
  color: white;
  overflow-wrap: normal;
  font-weight: 900;
  width: clamp(75%, 50ch, 95%);
}
.hero_caption {
  font-size: 1.25rem;
  text-align: center;
  color: white;
  overflow-wrap: break-word;
  font-weight: 700;
  margin: 2rem;
  line-height: 1.25;
  width: 50ch;
}
@media (max-width: 578px) {
  .hero_caption {
    width: 35ch;
  }
}
.hero_form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 2rem;
}

.hero_form_btn {
  background-color: #F64C72;
  width: 10rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
}

.hero_form_input {
  width: 20rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: none;
  color: #BBC8D4;
  padding: 1rem;
}

.about {
  width: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2rem 0;
  box-shadow: 0px 10px 15px 0px rgba(6, 0, 0, 0.2509803922);
}

.about_title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem auto;
  width: -moz-fit-content;
  width: fit-content;
}

.about_line {
  width: 100%;
  height: 0.25rem;
  background-color: #F64C72;
  border-radius: 1rem;
  margin: 1rem;
}

.about_title {
  font-size: 2rem;
  font-weight: 400;
  color: #553D67;
  font-family: "Mulish";
  letter-spacing: 2px;
}

.about_paragraph {
  padding: 1rem;
  color: #6D7D8B;
  text-indent: 1rem;
  font-weight: 300;
  line-height: 1.75;
  text-align: center;
  font-size: 1.25rem;
}

.about_image {
  display: none;
}

@media (min-width: 400px) {
  .about_image {
    display: block;
    width: 100%;
  }
  .about_image img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    margin-top: 2rem;
  }
}
.cards {
  width: 100%;
  min-height: 70dvh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
  height: -moz-fit-content;
  height: fit-content;
  background: linear-gradient(180deg, #fff 70%, #F64C72 30%);
}

.card {
  width: 80%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  padding: 2rem;
  box-shadow: 0px 10px 15px 0px rgba(6, 0, 0, 0.2509803922);
  font-family: "Mulish";
}
.card_text {
  font-weight: 100;
  color: #495C76;
  margin: 1rem;
}

figcaption {
  font-weight: 400;
}/*# sourceMappingURL=index.css.map */