*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar_link{
    text-decoration: none;
    color: $text_primary;
}
.navbar_list{
    list-style-type: none;
}
.main{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}