*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
*::-webkit-scrollbar{
    display: none;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100dvw;
    overflow-x: hidden;
}
.navbar_link{
    text-decoration: none;
    color: $text_primary;
}
.navbar_list{
    list-style-type: none;
}
.main{
    display: flex;
    @include flex(center,flex-start);
    flex-direction: column;
    height: fit-content;
    width: 100%;
}
.title-light{
    font-size: 2rem;
    color: white;
}
.title-dark{
    font-size: 2rem;
    color: $text_primary;
}
@media (max-width:500px){
    .title-light{
        text-align: center;
        font-size: 1.2rem;
        color: white;
    }
    .title-dark{
        font-size: 1.2rem;
        text-align: center;
        color: $text_primary;
    }
}