@mixin flex($align: center, $justify: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: wrap;
}
@mixin paragraph_styling($text_color:#fff){
    padding: 1rem;
    color: $text_color;
    text-indent: 1rem;
    font-weight: 300;
    line-height: 1.75;
    text-align: center;
    font-size: 1rem;
    @include secondary_font;
}
@mixin primary_font{
    font-family: "Mulish", system-ui;
}
@mixin secondary_font{
    font-family: "Open Sans", system-ui;
}