.achievements{
    width: 100%;
    padding: 2rem 2rem 4rem 2rem;
    min-height: 70dvh;
    overflow-x: hidden;
    @include flex(center,center);
    flex-direction: column;
    background-color: $primary-bg;
    &_title{
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
    }
    &_text{
        color: white;
        font-weight: 500;
        line-height: 1.75;
        text-align: center;
        width: 85%;
        margin: 2rem;
    }
    &_stats{
        color: white;
        @include flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 1rem;
    }
}
.stat_card{
    width: 20%;
    @include flex;
    margin: 1rem;
    flex-direction: column;
    &_caption{
        font-weight: 600;
        font-size: 0.75rem;
        font-family: "Open Sans";
    }
    &_numeric{
        font-weight: 700;
        font-size: 2.25rem;
    }
}