.cards{
    width: 100%;
    min-height: fit-content;
    overflow-x: hidden;
    @include flex(center,flex-start);
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0 0 0;
    height: fit-content;
    background: linear-gradient(180deg,#fff 70%,$primary-bg 30%);
}
.card{
    width: 80%;
    background-color: #fff;
    @include flex(center,center);
    flex-direction: column;
    text-align: center;
    padding: 2rem 2rem 0 2rem;
    box-shadow: 0px 10px 15px 0px #06000040;
    font-family: "Mulish";
    height: 25rem;
    &_text{
        font-weight: 100;
        color: #495C76;
        margin: 1rem;
    }
    z-index: 2;
}
figcaption{
    font-weight: 400;
}
@media (min-width:700px){
    .card{
        width: 20dvw;
        height: 40dvh;
    }
    .cards{
        flex-direction: row;
        justify-content: center;
    }
}