.feedback{
    @include flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    @include secondary_font;
    &_scroller{
        width: 100%;
        overflow-x: auto!important;
        @include flex(center,flex-start);
        padding: 2rem;
        gap: 1rem;
        flex-wrap: nowrap;
    }
    &_card{
        @include flex;
        align-items: flex-start;
        flex-direction: column;
        width: 15rem;
        min-width: 15rem;
        height: 24rem;
        padding: 1rem;
        box-shadow: 0px 10px 15px 0px #06000040;
        
    }
    &_card_text{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    &_user{
        @include flex(center,flex-start);
        gap: 0.5rem;
    }
}
.feedback_user_caption{
    color: #6D7D8B;
    font-size: 0.75rem;
}
.feedback_img{
    width: 2rem;
    height: auto;
    aspect-ratio: 1/1;
}
@media (max-width:700px){
    .feedback{
        &_card{
            height: 22rem;
        }
        &_scroller{
            @include flex;
            flex-wrap: wrap;
        }
    }
}