.feedback{
    @include flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    &_scroller{
        width: 100%;
        overflow-x: scroll;
        @include flex;
        padding: 1rem;
        gap: 1rem;
    }
    &_card{
        width: 30dvw;
        align-items: flex-start;
        padding: 1rem;
        box-shadow: 0px 10px 15px 0px #06000040;
    }
    &_card_text{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    &_user{
        @include flex(center,flex-start);
    }
}
@media (max-width:500px){
    .feedback{
        &_card{
            width: 80dvw;
        }
    }
}