.mission{
    background-color: $primary-bg;
    color: white;
    width: 100%;
    @include flex;
    &_title{
        color: white;
        font-weight: 700;
        font-size: 1.8rem;
    }
    &_paragraph{
        @include paragraph_styling;
    }
    &_button{
        background-color: $primary-bg;
        color: #fff; 
        width: 10rem;
        height: 3.5rem;
        border: 0.15rem solid white;
        border-radius: 0.5rem;
    }
    &_pic{
        display: none;
    }
    & article{
        @include flex;
        flex-direction: column;
        padding: 2rem;
    }
}
@media (min-width:900px){
    .mission{
        flex-direction: row;
        &_pic{
            display: block;
            width: 50%;
        }
        & article{
            @include flex;
            flex-direction: column;
            padding: 2rem;
            width: 50%;
        }
    }
}