.objectives{
    width: 100%;
    @include flex;
    padding: 2rem;
    overflow-x: hidden;
    &_title_holder{
        @include flex;
        flex-direction: column;
        margin: 2rem auto;
    }
    & section{
        @include flex(center,space-around);
        gap: 1rem;
    }
    &_title{
        font-size: 2rem;
        font-weight: 400;
        color: $text_primary;
        font-family: "Mulish";
        letter-spacing: 2px;
    }
}
.objective_card{
    flex-basis: 300px;
    background-color: #fff;
    @include flex(center,center);
    text-align: center;
    padding: 2rem 2rem 0 2rem;
    box-shadow: 0px 10px 15px 0px #06000040;
    font-family: "Mulish";
    height: 50dvh;
    &_text{
        font-weight: 100;
        color: #495C76;
        margin: 1rem;
    }
    z-index: 2;
}
@media (max-width:500px){
    .objective_card{
        height: 50dvh;
    }
}