.work{
    @include flex;
    flex-direction: column;
    width: 100%;
    background-color: $primary-bg;
    overflow-x: hidden;
    @include primary_font;
    color: white;
    padding: 4rem 2rem;
    & p{
        width: 65%;
        font-size: 0.95rem;
        margin: 1rem;
        text-align: center;
        @include secondary_font;
    }
    &_title{
        font-size: 1.5rem;
        font-weight: 500;
    }
    &_input{
        width: 15rem;
        height: 3rem;
        padding: 1rem;
        color: #BBC8D4;
    }
}
@media (max-width:500px){
    .work{
        & p{
            width: 90%;
        }
    }
}